<%- include("partials/header.ejs") %>
    <div class="container flex">
        <div class="grid-wrapper">
            <div class="head">Additional Tasks:</div>
            <% if (locals.additionalToDo && additionalToDo.length > 0) { %>
                <% for (let i = 0; i < additionalToDo.length; i++) { %>
                    <form method="post" action="/delete" id="myForm">
                        <input name="checkbox" type="checkbox" id="myCheckox" value="<%=additionalToDo[i]._id%>">
                        <button class="grid-item" type="submit" id="myButton"><%= additionalToDo[i].name %></button>
                    </form>
                <% } %>
            <% } else { %>
                <div class="grid-item">No tasks added!</div>
            <% } %>
        </div>
    </div>
<%- include("partials/footer.ejs") %>