<%- include("partials/header.ejs") %>
    <div class="container flex">
        <div class="grid-wrapper">
            <div class="head">All Tasks:</div>
            <% if (locals.allToDo && allToDo.length > 0) { %>
                <% allToDo.forEach((item) => { %>
                    <div class="grid-item">
                        <%= item.name %>
                    </div>
                <% }) %>
            <% } else { %>
                <div class="grid-item">No tasks added!</div>
            <% } %>
        </div>
    </div>
<%- include("partials/footer.ejs") %>